@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    
}

.half-width img{
    width: 50%;
    width: 556.01px;
    height: 438px;
    padding-left: 350px;
    
}
.heading{
    font-size: 52px;
    font-weight: 700px;
    padding-left: 100px;
    color: white;
    
}
header{
    padding-left: 150px;
}
.banner{
    display: flex;
    background-color: #2D25A0;
    align-items: center;
    width: 1440px;
    height: 677px;
    
}
.card{
    width: 330px;
    height: 474px;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px black; 
    font-size: 15px;
}
main{
    display: flex;
    justify-content: center;
}
.card-containers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 27px;    
}
.last-portion{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.left{
    align-items: center;
    margin-left: 20px;
    height: 32px;
    width: 32px;
}
.btn{
    font-size: 15px;
    padding: 10px 20px;
    color: white;
    background-color: #E02C6D;
}
.btn:hover{
    color: white;
    background-color: orange;
}

.logo{
    height: 110px;
    width: 483.87px;   
}
span{
    color: blue;
}
.img-style{
    width: 100%;
    border-radius: 5px;
}
.extra{  
    color:seagreen;
    margin-top: 70px;
    padding-left: 130px;
}
.btn-1{
    margin-left: 750px;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: blue;
    border-radius: 5px;
}
.img-edit{
    margin-left: 30px;
}
.copyright{
    margin-left: 47px;
}
.partner{
    margin-top: 40px;
}
.partners{
    font-size: 40px;

}
.img{
    margin-left: 40px;
}
.partner-img{
    margin-left: 620px;
}

.partners{
    margin-left: 400px;
}
.btn-1:hover{
    color: black;
    background-color: yellow;
}